
html{
    font-size: 62.5%;
    background: radial-gradient(circle, rgba(221,221,221,1) 0%, rgba(148,187,233,1) 100%);
    scroll-behavior: smooth;
    font-family: sans-serif;
    overflow: hidden;
}
.App{
padding-top: 1rem;
height: 100vh;
width: 100%;
font-size: 1.5rem;
display: flex;
justify-content: space-between;
}

.row {
 border: 0.1rem solid black;
 margin: 0.2rem;
 background-color: #eeeeee;
 width: auto;
 overflow: hidden;
 height: auto;
}
.dodatne-informacije{
 display: none;
}
img{
    padding-left: 0.5rem;
    width: 3.5rem;
    height: 2.8rem;
    padding-right: 1rem;
}
img:hover{
cursor: pointer;
}
.list{
    height: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}
textarea{
    border: none;
    border-radius: 1rem;
    resize: none;
    width: 90%;
    height: 5rem;
}
textarea:hover{
    background-color: #b6b6b6;
}
.boja1,.boja2,.boja3,.boja4,.boja5,.boja6{
    margin-right: 0.2rem;
    width: 1rem;
    height: 1rem;
    list-style: none;
}
.boja1{
    background-color: #ff4646;
}
.boja2{
background-color: #ffe227;
}
.boja3{
    background-color: #16c79a;
}
.boja4{
    background-color: #6e7c7c;
}
.boja5{
    background-color: #f8a1d1;
}
.boja6{
    background-color: #7868e6;
}
.legenda-boja li{
    display: flex;
    align-items: baseline;
    padding-right: 0.6rem;
}
.legenda-boja{
    font-size: 1.3rem;
    width: 95%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.osnovne-informacije{
    display: flex;
    height: 4rem;
    align-items: center;
    padding-right: 1rem;
    width: 45rem;
    justify-content: space-between;
}
.slika-ime{
    display: flex;
    align-items: center;
}
.brzina-info{
    font-weight: 700;
    padding-left: 1rem;
    font-size: 2rem;

}
.prikaz-komentara{
    background-color: transparent;
    height: auto;
    width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    border-bottom: 0.1rem solid black;
}
.prikaz-komentara p{
    width: 90%;
    word-wrap: break-word;
    height: auto;
}
.color-change li{
    width: 1.5rem;
    height: 1.5rem;
margin-bottom: 0.5rem;
border-radius: 5rem;
margin-left: 26rem;
}
.color-change li:hover{
    cursor: pointer;
}
.color-change{
    display: none;
    flex-direction: column;
    align-items: center;
    border-radius: 5rem;
    padding: 1rem;
    height: auto;
    background-color: transparent;
    width: 1rem;
    margin-left: 1rem;
}
.brush{
    width: 2rem;
    background-color: transparent;
    margin-left: 13rem;
    border-radius: 1.2rem;
    padding: 0.7em;
    border: solid black 0.2rem;
}
.brush:hover{
    cursor: pointer;
    background-color: #b6b6b6;
}
.legenda{
    overflow: hidden;
    width: 100%;
    height: 40vh;
    border: solid black 1px;
    background-color: #eeeeee;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: center;
}
.legenda li{
    margin-left: -2.5rem;
    height: 1.5rem;
    width: 70rem;
    display: flex;
    border: 0.1rem solid black;
    align-items: center;
    justify-content: space-between;
}
.legenda ul{
    margin-top: 10%;
    font-size: 1.8rem;
}
.unos{
    height: 10%;
    background-color: #eeeeee;
    position: fixed;
    width: 57%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.legenda span{
    margin-left:3rem;
    font-size: 5rem;
}
.legenda span:hover{
    color: white;
    cursor: pointer;
}
.legenda input{
 box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem #888888;
margin-top: 2%;
width: 50%;
border-radius: 0.5rem;
border: none;
overflow: hidden;
}
::placeholder{
    padding-left: 5%;
}
/* Input modal */
.modal-wraper{
    position: relative;
    z-index: 1;
  }
  .modal-style{
    height: auto;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    overflow: none;
    margin-bottom: 10%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(223, 219, 219);
    padding: 50px;
    z-index: 1000;
    width: 50%;
    border-radius: 2rem;
  }
  .modal-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0,0,0, .7);
  }
  .gasi-modal{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 3rem;
  }
  .info{
      width: 60%;
  }
  .servis-koment{
      width: 70%;
      height: 2.5rem;
      font-size: 2rem;
    }
    .servis-koment:placeholder-shown{
        font-size: 1.4rem;
    }
  .wrench{
      margin-right: 1rem;
      margin-left: 1rem;
      border: 0.2rem solid black;
      padding: 0.7rem;
      border-radius: 1rem;
  }
  .wrench:hover{
    cursor: pointer;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
  }
  .koment-form{
      display: flex;
      margin-top: 1rem;
      margin-bottom: 1rem;
  }
  .koment-form button{
      height: 3rem;
  }
  .koment{
      width: 70%;
      height: 2.5rem;
  }
.map{
    width: 10%;
    height: 30vh;
}
footer{
    position: absolute;
    bottom: 0;
    right: 1rem;
    font-size: 1.2rem;
}
.naziv-vozila{
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: none;
}
.naziv-vozila:hover{
    cursor: pointer;
}
.poslednja-poruka{
    margin-left: 1rem;
}
